version: '3.9'

services:
  dht:
    build:
      context: ./dht
      dockerfile: ./Dockerfile.dev
    ports:
      - 8082:8082 # gRPC

  processing:
    build:
      context: ./processing
      dockerfile: ./Dockerfile.dev
    ports:
      - 9100:9100 # Metrics prometheus
    depends_on:
      - dht

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - 9090:9090
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./processing/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - eleg
    depends_on:
      - processing
  
  grafana:
    image: grafana/grafana:8.3.0
    ports:
      - 3000:3000
    links:
      - prometheus
      - processing
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - ./data/grafana:/var/lib/grafana
    user: '0'
    networks:
      - eleg
    depends_on:
      - prometheus

networks:
  eleg:
    driver: bridge
